@use '../../variables/colors' as *;
@use '../../variables/array' as *;
section {
  #photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    .photo {
      margin: 20px;
      width: 250px;
      height: 250px;
      .black {
        display: none;
        width: 250px;
        height: 250px;
        background-color: rgba($color: #2b2a2a, $alpha: 0.5);
      }
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; // dodajemy pozycjonowanie aby móc umieścić tekst wewnątrz diva

      @each $number, $link in $links {
        &:nth-child(#{$number}) {
          background: url("#{$link}");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      h3 {
        display: none;
        color: $lighterGray;
        position: absolute; // umieszczamy tekst wewnątrz diva
        top: 50%; // ustawiamy pozycję tekstu
        left: 50%; // ustawiamy pozycję tekstu
        transform: translate(-50%, -50%); // wyśrodkowujemy tekst
      }

      &:hover {
        .black {
          display: block;
          h3 {
            display: block;
          }
        }
      }

      transition: background-color 0.5s; // dodajemy efekt płynnej zmiany koloru tła
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  #keywords-section {
    width: 100%;
    height: 250px;
    h1 {
      color: $lighterGray;
      text-align: center;
      font-size: 48px;
    }
    h2 {
      color: $lighterGray;
      text-align: center;
      font-size: 28px;
    }
    .keywords {
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        color: $lighterGray;
        text-align: center;
        font-size: 18px;
        width: 20%;
      }
    }
  }
}
